
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br>

      <% if @business.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <p>La modification n'a pu aboutir pour les raisons suivantes :</p>
        </div>
        <div class="alert alert-warning" role="alert">
          <ul>
            <% @business.errors.full_messages.each do |message| %>
            <li> <%= message %> </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    
      <h1 class="h3 mb-3 font-weight-normal text-center ">Modifier les informations de l'établissement</h1>

      <%= form_for @business do |ƒ| %>

      <div class="form-group">
        <label> Nom de l'établissement </label>
        <%= ƒ.text_field :name, class: 'form-control text-primary' %>
      </div>

      <div class="form-group">
        <label> Numéro de téléphone </label>
        <%= ƒ.text_field :phone, class: 'form-control text-primary' %>
      </div>

      <div class="form-group">
        <label> Adresse </label>
        <%= ƒ.text_field :address, class: 'form-control text-primary' %>
      </div>

      <div  class="form-group">
        <label>Url de la photo </label>
        <%= ƒ.text_field :photo, class: 'form-control text-primary' %>
      </div>
  
      <div class="actions mt-5">
      <%= submit_tag 'Enregistrer les modifications', class: "btn btn-lg btn-primary btn-block"%>
      </div>

      <%end%>
    
      <br>
      <%= link_to "Supprimer l'établissement", business_path(@business.id), data: {confirm: "Etes-vous sûr ?"}, method: :delete, :class => "btn btn-danger btn-lg btn-block my-2" %>
    
    </div>
  </div>
</div>