<div class="container">
  <div class="section-header">
    <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s"> Créez votre <span>établissement</span></h2>
    <hr class="lines wow zoomIn" data-wow-delay="0.3s">
    <p class="section-subtitle wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s"> Renseignez les informations</p>
  </div>

  <div class="row">
    <div class="col-md-6 offset-md-3">

      <% if @business.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <p>La création de l'établissement n'a pu aboutir pour les raisons suivantes :</p>
        </div>
        <div class="alert alert-warning" role="alert">
          <ul>
            <% @business.errors.full_messages.each do |message| %>
              <li> <%= message %> </li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= form_with model: @business, local: true do |form| %>

        <div class="form-group row">
          <div class="col-lg-3"> <%= form.label :name, "Nom de l'établissement" %> </div>
          <div class="col-lg-9">
            <%= form.text_field :name, class: "form-control"  %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-3"> <%= form.label :address, "Adresse de l'établissement" %> </div>
          <div class="col-lg-9">
            <%= form.text_field :address, class: "form-control"  %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-3"> <%= form.label :phone, "Numéro de téléphone" %> </div>
          <div class="col-lg-9">
            <%= form.text_field :phone, class: "form-control"  %>
          </div>
        </div>

        <div class="actions my-4 row align-content-end">
          <%= form.submit "Valider", class: "btn btn-outline-success btn-block col-lg-9 mb-4", style: "margin: 10px 0;" %>
        </div>

        <div class="actions my-4 row">
          <%= link_to "Retour au Profil", owner_path(current_owner), class: "btn btn-common col-lg-9 mb-4", style: "margin: 10px 0;" %>
        </div>

      <% end %>
    </div>
  </div>
</div>
