<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="text-center">
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v8.0&appId=644263129849551&autoLogAppEvents=1" nonce="NsYZLEgu"></script>
        <div class="fb-login-button" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="true" data-width=""></div>
      </div>

      <%= form_for resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-signin mt-3" } do |f| %>
        <h1 class="h3 my-4 font-weight-normal text-center">Ou inscrivez-vous</h1>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :email, "Email" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password, "Mot de passe" %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> caractères minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "Confirmation du mot de passe" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="actions mt-5">
          <%= f.submit "S'inscrire", class: "btn btn-lg btn-primary btn-block" %>
        </div>
      <% end %>

      <br>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
