<%= render partial:"items/header" %>

<section class="section">
  <!-- Container Starts -->
  <div class="container">
    <div class="section-header">
      <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s"> Modifiez votre <span>Menu</span></h2>
      <hr class="lines wow zoomIn" data-wow-delay="0.3s">
      <p class="section-subtitle wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s"> Merci de remplir les informations suivantes </p>
    </div>
    <div class="row justify-content-center">

      <%= render partial: "form", locals: {method: :put} %>

    </div>

    <div class="actions mt-5 text-center">
      <%= link_to "Retour au menu", business_menu_path(@business, @menu), class: "btn btn-lg btn-info btn-lg" %>
    </div>
  </div>
</section>

<section id= "blog" class="section">
  <!-- Container Starts -->
  <div class="container">
    <div class="section-header">
      <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s"> Ajouter des <span>produits</span></h2>
      <hr class="lines wow zoomIn" data-wow-delay="0.3s">
    </div>
    <div class="row justify-content-center">
      <%= form_with(model: [@business, @menu, @menu_item], local: true, method: :post, class: "col-lg-6") do |form| %>

        <!-- ERRORS !-->
        <% if @menu.errors.any? %>
          <div class="alert alert-warning" role="alert">
            <p> Le produit n'a pas pu être créé pour les raisons suivantes :</p>
            <ul>
              <% @menu.errors.full_messages.each do |message| %>
                <li> <%= message %> </li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <!-- name !-->
        <div class="form-group">
          <%= form.label :item_id, ' Nouveau produit ?    ' %>
          <%= form.collection_select :item_id, @business.items.all, :id, :title, :prompt => 'Sélectionne' %>
        </div>

        <!-- SUBMIT !-->
        <div class="actions mt-5 pr-4">
          <%= form.submit "Valider", class: "btn btn-lg btn-success btn-block mb-5" %>
        </div>

      <% end %>

    </div>

  </div>
  <div class="section-header">
    <hr class="lines wow zoomIn mb-5" data-wow-delay="0.3s">
    <p class="section-subtitle wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s"> Produits déjà inscrits au menu </p>
  </div>
  <div class="row justify-content-center">
    <% @menu.items.each do |item| %>
      <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 blog-item">

        <div class="blog-item-wrapper wow fadeInUp" data-wow-delay="0.3s">
          <div class="blog-item-text">
            <div class="row">
              <div class="col-4">
                <h3>
                  <%= link_to item.title, business_item_path(@business, item) %>
                </h3>
                <div class="meta-tags">
                  <span class="foodcategory"><i class="lnr lnr-cloud"></i> <%= item.category %> </span><br>
                </div>
              </div>
              <div class="col-6">
                <p>
                  <%= item.description %>
                </p>
              </div>
              <div class="col-1 ml-5 ">
                <p>
                  <%= link_to business_menu_menu_item_path(:menu_id => @menu.id, :item_id => item.id), method: :delete do  %>
                    <p><span class="lnr lnr-trash text-danger"></span></p>
                  <% end %>
                </p>
              </div>

            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <!-- Item Wrapper ) -->
</div>
</div>
</section>
