<!-- Basic Card Section Section -->
<section id="blog" class="section d-flex align-items-center flex-column">

  <!-- Container Starts -->
  <div class="container">
    <div class="section-header">
      <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Nos <span>Happy Prices</span></h2>
      <hr class="lines wow zoomIn" data-wow-delay="0.3s">
      <p class="section-subtitle wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">faites votre choix</p>
    </div>

    <div class="row justify-content-center">
      <% @happy_prices.each do |happy_price| %>
        <% if happy_price.active? %>
          <% item = happy_price.item %>
          <% business = item.business %>

          <!-- ( Item Wrapper -->
          <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 blog-item">

            <!-- ( Happy Minute Begin !-->
            <div class="alert alert-success wow fadeInUp" data-wow-delay="0.3s">
              <p class="display-4"> HAPPY MINUTE : <%= happy_price.price %> € </p>

              <span class="badge badge-pill badge-primary p-3">Disponibles : <%= happy_price.stock %></span>
              <span class="badge badge-pill badge-primary p-3 mb-3">Temps restant : <%= happy_price.time.in_minutes %> minutes</span>
              <span class="btn btn-outline-primary p-3 mb-3 ml-5"><%= link_to "Restaurant : #{business.name}", business_path(business.id) %></span>
              <!-- Happy Minute Begin ) !-->

              <div class="blog-item-wrapper wow fadeInUp" data-wow-delay="0.3s">
                <div class="blog-item-text">
                  <div class="row">

                    <div class="col-4">
                      <% if current_owner == item.business.owner %>
                        <h3>
                          <%= link_to item.title, business_item_path(@business, item) %>
                        </h3>
                      <% else %>
                        <h3>
                          <%= item.title %>
                        </h3>
                      <% end %>
                      <div class="meta-tags">
                        <span class="foodcategory"><i class="lnr lnr-cloud"></i> <%= item.category.name %> </span><br>
                      </div>
                    </div>
                    <div class="col-6">
                      <p><%= item.description %></p>
                    </div>
                    <div class="col-2">
                      <p><del><%= item.price %> € </del></p>
                    </div>

                  </div>
                </div>
              </div>

              <% if current_owner == business.owner %>
                <%= link_to "Modifier (#{happy_price.price} €)", edit_business_item_happy_price_path(business, item, happy_price), class: "btn btn-common display-4"%>
              <% elsif customer_signed_in? %>
                <%= link_to "Bénéficier de la promo incroyable !", business_item_happy_price_happy_codes_path(business, item, happy_price), method: :post, class: "btn btn-primary" %>
              <% else %>
                <%= link_to "Se connecter pour en profiter", new_customer_session_path, class: "btn btn-success" %>
              <% end %>

            </div>
            <!-- Happy Minute End ) -->

          </div>
          <!-- Item Wrapper ) -->
        <% end %>
      <% end %>
    </div>
  </div>
  <!-- End container ) -->
</section>
