
      <div class="menu-wrap">
        <nav class="menu navbar">
          <div class="icon-list navbar-collapse">
            <ul class="navbar-nav">

              <% if customer_signed_in? %>  
                <li class="nav-item">
                  <%= link_to "Accueil", root_path, class: "nav-link" %>
                </li>                         
                <li class="nav-item">
                  <%= link_to "Happy Minute", root_path, class: "nav-link" %>
                </li> 
                <li class="nav-item">
                  <%= link_to "Mon profil", customer_path(current_customer), class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Déconnexion", destroy_customer_session_path, method: :delete, class: "nav-link" %>
                </li>
              <% end %>

              <% if owner_signed_in? %>
                <li class="nav-item">
                  <%= link_to "Accueil", root_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Mon profil", owner_path(current_owner), class: "nav-link" %>
                </li>                             
                <li class="nav-item">
                  <%= link_to "Déconnexion", destroy_owner_session_path, method: :delete, class: "nav-link" %>
                </li>
              <% end %>

              <% if administrator_signed_in? %>
                <li class="nav-item">
                  <%= link_to "Accueil", root_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Déconnexion administrateur", destroy_administrator_session_path, method: :delete, class: "nav-link" %>
                </li>
              <%end%>
                
              <% if !administrator_signed_in? && !owner_signed_in? && !customer_signed_in? %>
                <li>
                  <%= link_to "Accueil", root_path, class: "nav-link" %>
                </li>  
                <li class="nav-item dropdown active">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Professionnel
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <%= link_to "Se connecter", new_owner_session_path, class: "nav-link" %>
                    <%= link_to "S'inscrire", new_owner_registration_path, class: "nav-link" %>
                  </div>
                </li>
                <li class="nav-item dropdown active">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Consommateur
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <%= link_to "Se connecter", new_customer_session_path, class: "nav-link" %>
                    <%= link_to "S'inscrire", new_customer_registration_path, class: "nav-link" %>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </nav> 
        <button class="close-button" id="close-button"><i class="lnr lnr-cross"></i></button>
      </div>      
  	<!-- Header Section Start -->

    <header id="video-area" data-stellar-background-ratio="0.5">  
    <div class="jumbotron jumbotron-fluid text-white my-jumbotron">
    <div id="block"></div>
      <div class="fixed-top">
          <div class="container">
            <div class="logo-menu">
              <%= link_to root_path, class: 'logo' do %>
                <span class="lnr lnr-dinner"></span><%= image_tag 'burger.png', style: 'height:45px;width:45px;margin-bottom:20px;' %> Happy Minute</a>
                <button class="menu-button" id="open-button"><i class="lnr lnr-menu"></i></button>   
              <% end %> 
            </div>
          </div>
      </div>
      <div class="overlay overlay-2"></div>      
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-10">
            <div class="contents text-center">
              <h1 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">Bienvenue sur Happy-Minutes</h1>
              <p class="lead  wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">Pour passer de belles minutes joyeuses dans des bars & restaurants !</p>
              <% if customer_signed_in? %>
                <%= link_to "Mon profil", customer_path(current_customer), class: "btn btn-common wow fadeInUp", data: { "wow-duration" => "1000ms", "wow-delay" => "400ms" } %>
              <% elsif owner_signed_in? %>
                <%= link_to "Mon profil", owner_path(current_owner), class: "btn btn-common wow fadeInUp", data: { "wow-duration" => "1000ms", "wow-delay" => "400ms" } %>
              <% else %>
                <%= link_to "Je m'inscris", new_customer_registration_path, class: "btn btn-common wow fadeInUp", data: { "wow-duration" => "1000ms", "wow-delay" => "400ms" } %>
              <% end %>
            </div>
          </div>
        </div> 
      </div>
      </div>
    </header>
    <!-- Header Section End --> 
    