

<div class="row justify-content-center">

  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="section-header mt-4">
      <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Vos <span>informations</span></h2>
      <hr class="lines wow zoomIn" data-wow-delay="0.3s">
    </div>

    <div class="justify-content-center">
      <% if customer_signed_in? %>
        <ul>
          <li>
            <p class="card-title profile-owner text-center my-5">Prénom : <%= @customer.first_name %></p>
          </li>
          <li>
            <p class="card-title profile-owner text-center my-5">Nom : <%= @customer.last_name %></p>
          </li>
          <li>
            <p class="card-title profile-owner text-center my-5">E-mail : <%= @customer.email %></p>
          </li>
        </ul>
      <%end%>
    </div>

    <div class="row justify-content-center">
      <p class="section-subtitle wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">
        <%= link_to "Editer votre profil", edit_customer_registration_path, :class => "btn btn-common my-2" %>
      </p>
    </div>
  </div>
  <!--End of Column 1-->

  <div class="col-lg-8 col-md-12 col-sm-12">
    <div class="section-header mt-4">
      <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Vos <span>établissements suivis</span></h2>
      <hr class="lines wow zoomIn" data-wow-delay="0.3s">
    </div>

    <div class="row justify-content-center text-center">
      <% @customer.businesses.each do |business| %>
        <div class="col-lg-4 col-md-12 col-sm-12 py-4 mx-5 blog-item">
          <%= link_to business_path(business.id) do %>
            <div class="blog-item-img">
              <%if business.business_photo.attached?%>
                <%= image_tag business.business_photo, alt: 'photo', :class => "root-card-image" %>
              <% else %>
                <%= image_tag 'burger.png', :class => "root-card-image" %>
              <% end %>
            </div>

            <p>
              <%= link_to "#{business.name}", business_path(business.id), :class => "btn btn-common my-2" %>
            </p>

          <%end%>
        </div>
      <%end%>
    </div>

  </div>
  <!--End of Column 2-->

</div>
<!--End of Row-->
