<% if @items.find_by(category_id: category.id) %>
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 blog-item">
      <h1>
        <%= category.name %>
      </h1>
    </div>
  </div>

  <% @items.each do |item| %>
    <% if item.category_id == category.id %>
      <div class="row justify-content-center">

        <% happy_price = item.current_happy_price %>
        <!-- ( Item Wrapper -->
        <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 blog-item">
          <% if happy_price %>
            <!-- ( Happy Minute Begin !-->
            <div class="alert alert-success wow fadeInUp" data-wow-delay="0.3s">
              <p class="display-4"> HAPPY MINUTE :
                <%= happy_price.price %> € </p>
              <span class="badge badge-pill badge-primary p-3">Disponibles :
                <%= happy_price.stock %></span>
              <span class="badge badge-pill badge-primary p-3 mb-3">Temps restant :
                <%= happy_price.time.in_minutes %> minutes</span>
              <!-- Happy Minute Begin ) !-->

          <% end %>
          <div class="blog-item-wrapper wow fadeInUp" data-wow-delay="0.3s">
            <div class="blog-item-text">
              <div class="row">
                <div class="col-4">
                  <% if current_owner == item.business.owner %>
                    <h3>
                      <%= link_to item.title, business_item_path(@business, item) %>
                    </h3>
                  <% else %>
                    <h3>
                      <%= item.title %>
                    </h3>
                  <% end %>
                  <div class="meta-tags">
                    <% item.tags.each do |tag| %>
                      <span class="foodcategory"><i class="lnr lnr-cloud"></i>
                        <%= tag.name %>
                      </span>
                    <% end %>
                  </div>
                </div>
                <div class="col-6">
                  <p>
                    <%= item.description %>
                  </p>
                </div>
                <div class="col-2">
                  <p>
                    <% if happy_price %>
                      <del>
                        <%= item.price %> € </del>
                    <% else %>
                      <%= item.price %> €
                    <% end %>
                  </p>
                </div>
              </div>
            </div>
            <% if current_owner == item.business.owner && !item.happy_prices.empty? %>
              <ul class="p-2">
                <% item.happy_prices.each do |happy_price| %>
                  <li>
                    <%= happy_price.price %> € :
                    <% happy_price.happy_codes.each do |happy_code| %>
                      <span class="px-2">
                        <%= "#{happy_code.code}" %> </span>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            <% end %>
            <% if customer_signed_in? && current_customer.happy_codes.any? { |hc| hc.happy_price.item == item } %>
              <p class="p-2"> Mes Happy Codes :
                <% current_customer.happy_codes.filter { |hc| hc.happy_price.item == item }.each do |happy_code|  %>
                  <span class="px-2">
                    <%= "#{happy_code.code} (#{happy_code.happy_price.price} €)" %> </span>
                <% end %>
              </p>
            <% end %>
          </div>

          <% if happy_price %>
            <!-- ( Happy Minute End !-->
            <% if current_owner == @business.owner %>
              <%= link_to "Modifier (#{happy_price.price} €)", edit_business_item_happy_price_path(@business, item, happy_price), class: "btn btn-common display-4"%>
            <% elsif customer_signed_in? %>
              <%= link_to "Bénéficier de la promo incroyable !", business_item_happy_price_happy_codes_path(@business, item, happy_price), method: :post, class: "btn btn-primary" %>
            <% else %>
              <%= link_to "Se connecter pour en profiter", new_customer_session_path, class: "btn btn-success" %>
            <% end %>
            <!-- Happy Minute End ) -->
            </div>
          <% end %>
        </div>
        <!-- Item Wrapper ) -->
      </div>
    <% end %>
  <% end %>
<% end %>