  <%= form_with(model: [@business, @item], local: true, method: method, class: "col-lg-6") do |form| %>

  <!-- ERRORS !-->
  <% if @item.errors.any? %>
    <div class="alert alert-warning" role="alert">
      <p> Le produit n'a pas pu être créé pour les raisons suivantes :</p>
      <ul>
        <% @item.errors.full_messages.each do |message| %>
          <li> <%= message %> </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- title !-->
  <div class="form-group">
    <%= form.label :title, 'Titre' %>
    <%= form.text_field :title, class: "form-control"  %>
  </div>

  <!-- description !-->
  <div class="form-group">
    <%= form.label :description, 'Description' %>
    <%= form.text_area :description, class: "form-control"  %>
  </div>

  <!-- price !-->
  <div class="form-group">
    <%= form.label :price, 'Prix' %>
    <%= form.number_field :price,step: 0.01, class: "form-control"  %>
  </div>

  <!-- category !-->
  <div class="form-group">
    <%= form.label :category, 'Catégorie' %>
    <%= form.select(:category_id, @categories, {}, { :class => 'form-control' }) %>
  </div>

  <!-- SUBMIT !-->
  <div class="actions mt-5 pr-4">
    <%= form.submit "Valider", class: "btn btn-lg btn-success btn-block" %>
  </div>

  <div class="row justify-content-center">
    <%= link_to "Retour à la carte", business_items_path(@business), class: "btn btn-info" %>
  </div>

<% end %>
