<div class="container">

  <h2> Produit : <%= @item.title %> </h2>

  <ul>
    <li> Titre : <%= @item.title %> </li>
    <li> Description : <%= @item.description %> </li>
    <li> Prix : <%= @item.price %> </li>
    <li> Catégorie : <%= @item.category %> </li>
  </ul>

</div>
