<div class="row">
  <div class="col-md-6 offset-md-3">

    <div class="text-center">
      <%= image_tag "f_logo_RGB-Blue_72.png", width:48 %>
      <%= link_to "Se connecter avec Facebook", customer_facebook_omniauth_authorize_path, class: "btn btn-lg btn-primary btn-block" %>
    </div>

    <%= form_for resource, as: resource_name, url: session_path(resource_name), html: { class: "form-signin mt-3" } do |f| %>

      <h1 class="h3 my-4 font-weight-normal text-center"> Ou identifiez-vous</h1>

      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email, "Email" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password, "Mot de passe" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "Se souvenir de moi" %>
        </div>
      <% end %>

      <div class="actions mt-5">
        <%= f.submit "Se connecter", class: "btn btn-lg btn-primary btn-block" %>
      </div>

    <% end %>
    <br>
    <%= render "devise/shared/links" %>
  </div>
</div>
