

<!DOCTYPE html>
<html>
  <head>

    <title>HappyMinute</title>
    

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <%= stylesheet_link_tag    'application', media: 'all' %>

    

  </head>

  <body>


    <div id="navbar"> <%= render partial: "shared/navbar" %> </div>

    <div id="alerts"> <%= render partial: "shared/alerts" %> </div>




    <%= yield %>

    <div id="footer"> <%= render partial: "shared/footer" %> </div>


    <a href="#" class="back-to-top">
      <i class="lnr lnr-arrow-up"></i>
    </a>

    <div id="loader">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    </div>  

    <%= javascript_include_tag 'application' %>


  </body>

</html>